__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
nvenvs/

.env
*.env
.env.*
!.env.example

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini

.idea/

*.pkl
*.h5
*.onnx
*.pt
*.pth
datasets/